In [2]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [3]:
matrix = pd.read_csv('iris.data', usecols = [0, 1, 2, 3])
matrix

     5.1  3.5  1.4  0.2
0    4.9  3.0  1.4  0.2
1    4.7  3.2  1.3  0.2
2    4.6  3.1  1.5  0.2
3    5.0  3.6  1.4  0.2
4    5.4  3.9  1.7  0.4
..   ...  ...  ...  ...
144  6.7  3.0  5.2  2.3
145  6.3  2.5  5.0  1.9
146  6.5  3.0  5.2  2.0
147  6.2  3.4  5.4  2.3
148  5.9  3.0  5.1  1.8

[149 rows x 4 columns]

In [6]:
for k in range(2,11):
    kmeans = KMeans(n_clusters = k).fit(matrix)
    print('k={0}'.format(k))
    print(kmeans.cluster_centers_)
    print(kmeans.labels_)

k=2
[[6.30103093 2.88659794 4.95876289 1.69587629]
 [5.00384615 3.35769231 1.56538462 0.29038462]]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]
k=3
[[5.9016129  2.7483871  4.39354839 1.43387097]
 [5.00408163 3.41632653 1.46530612 0.24489796]
 [6.85       3.07368421 5.74210526 2.07105263]]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 2 2 2 2 0 2 2 2 2 2
 2 0 0 2 2 2 2 0 2 0 2 0 2 2 0 0 2 2 2 2 2 0 2 2 2 2 0 2 2 2 0 2 2 2 0 2 2
 0]
k=4
[[5.00408163 3.41632653 1.46530612 0.24489796]
 [6.2525     2.855      4.815      1.625     ]
 [5.53214286 2.63571429 3.96071429 1.22857143]
 [6.9125     3.1        5.846875   2.13125   ]]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 2 1 2 1 2 1 2 2 2 2 1 2 1 2 2 1 2 1 2 1 1 1
 1 1 1 1 2 2 2 2 1 2 1 1 1 2 2 2 1 2 2 2 2 2 1 2 2 3 1 3 3 3 3 2 3 3 3 1 1
 3 1 1 3 3 3 3 1 3 1 3 1 3 3 1 1 3 3 3 3 3 1 1 3 3 3 1 3 3 3 1 3 3 3 1 1 3
 1]
k=5
[[5.508      2.6        3.908      1.204     ]
 [7.475      3.125      6.3        2.05      ]
 [5.00408163 3.41632653 1.46530612 0.24489796]
 [6.20769231 2.85384615 4.74615385 1.56410256]
 [6.52916667 3.05833333 5.50833333 2.1625    ]]
[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 0 3 3 3 0 3 0 0 3 0 3 0 3 3 0 3 0 3 0 3 3 3
 3 3 3 3 0 0 0 0 3 0 3 3 3 0 0 0 3 0 0 0 0 0 3 0 0 4 3 1 4 4 1 0 1 4 1 4 4
 4 3 4 4 4 1 1 3 4 3 1 3 4 1 3 3 4 1 1 1 4 3 3 1 4 4 3 4 4 4 3 4 4 4 3 4 4
 3]
k=6
[[6.52916667 3.05833333 5.50833333 2.1625    ]
 [4.725      3.13333333 1.42083333 0.19166667]
 [7.475      3.125      6.3        2.05      ]
 [6.20769231 2.85384615 4.74615385 1.56410256]
 [5.508      2.6        3.908      1.204     ]
 [5.272      3.688      1.508      0.296     ]]
[1 1 1 5 5 1 1 1 1 5 1 1 1 5 5 5 5 5 5 5 5 1 5 1 1 5 5 5 1 1 5 5 5 1 1 5 1
 1 5 5 1 1 5 5 1 5 1 5 1 3 3 3 4 3 3 3 4 3 4 4 3 4 3 4 3 3 4 3 4 3 4 3 3 3
 3 3 3 3 4 4 4 4 3 4 3 3 3 4 4 4 3 4 4 4 4 4 3 4 4 0 3 2 0 0 2 4 2 0 2 0 0
 0 3 0 0 0 2 2 3 0 3 2 3 0 2 3 3 0 2 2 2 0 3 3 2 0 0 3 0 0 0 3 0 0 0 3 0 0
 3]
k=7
[[4.809375   3.2125     1.4375     0.228125  ]
 [6.32916667 2.93333333 4.54166667 1.42916667]
 [6.02777778 2.73333333 5.02777778 1.79444444]
 [5.48333333 2.59166667 3.90416667 1.2       ]
 [6.56818182 3.08636364 5.53636364 2.16363636]
 [7.475      3.125      6.3        2.05      ]
 [5.37058824 3.8        1.51764706 0.27647059]]
[0 0 0 0 6 0 0 0 0 6 0 0 0 6 6 6 0 6 6 6 6 0 0 0 0 0 6 0 0 0 6 6 6 0 0 6 0
 0 0 0 0 0 0 6 0 6 0 6 0 1 1 1 3 1 1 1 3 1 3 3 1 3 1 3 1 1 3 1 3 2 1 2 1 1
 1 1 1 1 3 3 3 3 2 3 1 1 1 3 3 3 1 3 3 3 3 3 1 3 3 4 2 5 4 4 5 3 5 4 5 4 2
 4 2 2 4 4 5 5 2 4 2 5 2 4 5 2 2 4 5 5 5 4 2 2 5 4 4 2 4 4 4 2 4 4 4 2 4 4
 2]
k=8
[[6.02777778 2.73333333 5.02777778 1.79444444]
 [5.26153846 3.67692308 1.50769231 0.29230769]
 [7.475      3.125      6.3        2.05      ]
 [5.35714286 2.44285714 3.71428571 1.16428571]
 [6.56818182 3.08636364 5.53636364 2.16363636]
 [5.85909091 2.81818182 4.32272727 1.33181818]
 [6.63333333 3.03333333 4.63333333 1.45833333]
 [4.71304348 3.12173913 1.4173913  0.19130435]]
[7 7 7 1 1 7 1 7 7 1 7 7 7 1 1 1 1 1 1 1 1 7 1 7 7 1 1 1 7 7 1 1 1 7 7 1 7
 7 1 1 7 7 1 1 7 1 7 1 7 6 6 6 3 6 5 6 3 6 3 3 5 3 5 3 6 5 5 5 3 0 5 0 5 6
 6 6 6 5 3 3 3 5 0 5 5 6 5 5 3 5 5 5 3 5 5 5 5 3 5 4 0 2 4 4 2 3 2 4 2 4 0
 4 0 0 4 4 2 2 0 4 0 2 0 4 2 0 0 4 2 2 2 4 0 0 2 4 4 0 4 4 4 0 4 4 4 0 4 4
 0]
k=9
[[5.07894737 3.5        1.55263158 0.29473684]
 [6.43       2.94       4.59       1.435     ]
 [6.61666667 3.07916667 5.5625     2.1375    ]
 [5.32727273 2.45454545 3.59090909 1.11818182]
 [4.69       3.085      1.385      0.19      ]
 [7.54       3.15       6.39       2.09      ]
 [6.02777778 2.73333333 5.02777778 1.79444444]
 [5.49       3.92       1.46       0.26      ]
 [5.66470588 2.75294118 4.2        1.3       ]]
[4 4 4 0 7 4 0 4 4 7 0 4 4 7 7 7 0 7 0 0 0 4 0 0 4 0 0 0 4 4 0 7 7 4 4 7 4
 4 0 0 4 4 0 0 4 0 4 7 0 1 1 1 3 1 8 1 3 1 3 3 8 8 1 3 1 8 8 1 3 6 8 6 1 1
 1 1 1 1 3 3 3 8 6 8 1 1 1 8 8 8 1 8 3 8 8 8 1 3 8 2 6 2 2 2 5 8 5 2 5 2 6
 2 6 6 2 2 5 5 6 2 6 5 6 2 5 6 6 2 2 5 5 2 6 6 5 2 2 6 2 2 2 6 2 2 2 6 2 2
 6]
k=10
[[6.02777778 2.73333333 5.02777778 1.79444444]
 [5.07894737 3.5        1.55263158 0.29473684]
 [6.61666667 3.07916667 5.5625     2.1375    ]
 [5.625      2.54166667 3.86666667 1.15833333]
 [5.64615385 2.84615385 4.3        1.37692308]
 [7.54       3.15       6.39       2.09      ]
 [6.45263158 2.94210526 4.59473684 1.43157895]
 [5.49       3.92       1.46       0.26      ]
 [4.69       3.085      1.385      0.19      ]
 [5.         2.3        3.275      1.025     ]]
[8 8 8 1 7 8 1 8 8 7 1 8 8 7 7 7 1 7 1 1 1 8 1 1 8 1 1 1 8 8 1 7 7 8 8 7 8
 8 1 1 8 8 1 1 8 1 8 7 1 6 6 6 3 6 4 6 9 6 3 9 4 3 6 3 6 4 3 6 3 0 4 0 6 6
 6 6 6 4 3 3 3 3 0 4 6 6 6 4 3 4 6 3 9 4 4 4 6 9 4 2 0 2 2 2 5 4 5 2 5 2 0
 2 0 0 2 2 5 5 0 2 0 5 0 2 5 0 0 2 2 5 5 2 0 0 5 2 2 0 2 2 2 0 2 2 2 0 2 2
 0]